<article class="contact" data-page="contact">

  <header>
    <h2 class="h2 article-title">Contact</h2>
  </header>

  <section class="mapbox" data-mapbox>
    <figure>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.874311570245!2d96.1249706758335!3d16.78292771993563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb0dcb1ead6b%3A0xd6f5e8fde8383c7!2sAYA%20Bank%20(YGN-83)!5e0!3m2!1sen!2smm!4v1749351899812!5m2!1sen!2smm"
        width="400" height="300" loading="lazy"></iframe>
    </figure>
  </section>

  <section class="contact-form">

    <h3 class="h3 form-title">Contact Form</h3>

    <form id="contact-form" class="form">
      <input type="hidden" name="time" value="June 8 2025 09:00">

      <div class="input-wrapper">
        <input type="text" name="name" class="form-input" placeholder="Full name" required>
        <input type="email" name="email" class="form-input" placeholder="Email address" required>
      </div>
      
      <textarea name="message" class="form-input" placeholder="Your Message" required></textarea>

      <button class="form-btn" type="submit">
        <ion-icon name="paper-plane"></ion-icon>
        <span>Send Message</span>
      </button>
    </form>

  </section>

</article>
