<aside class="sidebar" data-sidebar>

    <div class="sidebar-info">

        <figure class="avatar-box">
            <img src="./assets/images/my-avatar.png" alt="Wathon Aung" width="80">
        </figure>

        <div class="info-content">
            <h1 class="name" title="Wathon Aung">Wathon Aung</h1>

            <p class="title">Data Engineer</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
            <span>Show Contacts</span>

            <ion-icon name="chevron-down"></ion-icon>
        </button>

    </div>

    <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

            <li class="contact-item">

                <div class="icon-box">
                    <ion-icon name="mail-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Email</p>

                    <a href="mailto:wathonaun9@gmail.com" class="contact-link">wathonaun9@gmail.com</a>
                </div>

            </li>

            <li class="contact-item">

                <div class="icon-box">
                    <ion-icon name="phone-portrait-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Phone</p>

                    <a href="tel:+12133522795" class="contact-link">+95 9950208287</a>
                </div>

            </li>

            <li class="contact-item">

                <div class="icon-box">
                    <ion-icon name="calendar-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Birthday</p>

                    <time datetime="1982-06-23">June 22, 1995</time>
                </div>

            </li>

            <li class="contact-item">

                <div class="icon-box">
                    <ion-icon name="location-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Location</p>

                    <address>Hlaing, Yangon, MM</address>
                </div>

            </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

            <li class="social-item">
                <a href="https://www.facebook.com/share/19DdfQh6kf/" class="social-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>

            <li class="social-item">
                <a href="https://github.com/wathon" class="social-link">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </li>

            <li class="social-item">
                <a href="https://www.linkedin.com/in/wathonaung?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B9jx5CLqPSJ6PdCIJHUuQ5w%3D%3D"
                    class="social-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>

        </ul>

    </div>

</aside>